/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
 
.header {
  text-align: center;
  color: #333;
}
 
.form {
  display: flex;
  margin-bottom: 20px;
}
 
.input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}
 
.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
 
.todoList {
  list-style: none;
  padding: 0;
}
 
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
}
 
.todoText {
  flex: 1;
  cursor: pointer;
}
 
.deleteButton {
  padding: 5px 10px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
.error {
  color: red;
  text-align: center;
}

/* Auth */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #0094d3;
  outline: none;
}
.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0094d3;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-btn:hover {
  background-color: #0094d3;
}
.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #777;
}
.footer-text a {
  color: #0094d3;
  text-decoration: none;
}
.footer-text a:hover {
  text-decoration: underline;
}

.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}
 
.auth_form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.auth_title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
 
.auth_input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}
 
.auth_button {
  padding: 10px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
 
.auth_switchText {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
 
.auth_switchLink {
  color: #1877f2;
  cursor: pointer;
  margin-left: 5px;
} */
 
/* Not Found */
.not_found_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}
 
.not_found_content {
  text-align: center;
}
 
.not_found_title {
  font-size: 9rem;
  font-weight: bold;
  color: #b0b0b0;
}
 
.not_found_message {
  font-size: 2rem;
  margin-top: 1rem;
  color: #555;
}
 
.not_found_description {
  margin-top: 0.5rem;
  color: #777;
}
 
.not_found_button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
 
.not_found_button:hover {
  background-color: #0056b3;
}


/* Table */
.table-container {
  position: relative; 
  overflow-x: auto; 
  padding-top: 20px; 
  margin: 50px auto;
  max-width: 100%; 
  box-sizing: border-box; 
  margin-left: 20px;
  margin-right: 20px;
}

.custom-table {
  width: 100%; 
  border-collapse: collapse;
  background-color: white;
}

.custom-table thead {
  background-color: #0094d3;
  color: #ffffff;
}

.custom-table th, .custom-table td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #f4f4f4;
  font-weight: bold; 
  position: sticky; 
  top: 0;
  z-index: 1;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.custome-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.view-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.view-button {
  background-color: #007BFF;
  color: #fff;
}

.view-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .custome-table th, .custome-table td {
    font-size: 14px; 
    padding: 8px; 
  }

  .view-button {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.table-image {
  width: 100%; 
  max-width: 100px; 
  height: auto; 
  border-radius: 5px; 
  object-fit: cover; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
  .table-image {
    max-width: 80px; 
  }
}

/* Product Detail */
.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  margin-top: 20px;
}
.product-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
  height: auto;
  max-width: 200px;
}
.product-info {
  text-align: center;
}
.product-info h2 {
  color: #333;
  margin-bottom: 10px;
}
.product-info p {
  color: #555;
  margin: 5px 0;
}
.price {
  color: #0094d3;
  font-size: 1.5em;
  margin-top: 10px;
}
.action-buttons {
  margin-top: 20px;
}
.action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  color: #ffffff;
  transition: background-color 0.3s;
}
.buy-button {
  background-color: #0094d3;
}
.buy-button:hover {
  background-color: #0094d3;
}
.back-button {
  background-color: #007BFF;
}
.back-button:hover {
  background-color: #0056b3;
}